<!DOCTYPE html>
<html>
  <%- include('../components/head.ejs') %>
  <body>
    <!-- Tstbite Section, P 0 -->
    <section class="tstbite-section p-0">
      <%- include('../components/navbar.ejs') %>
      <div class="container">
        <div
          class="card rounded-16 overflow-hidden border-0 bg-secondary mt-0 mt-md-4"
        >
          <div class="row g-0">
            <div class="col-lg-7">
              <img
                src="/images/recipes/<%= banner.image %>"
                class="w-100"
                alt="Menu"
              />
            </div>
            <div class="col-lg-5">
              <div
                class="p-4 p-md-5 d-flex flex-column justify-content-center h-100 position-relative"
              >
                <h4 class="my-3"><%= banner.title %></h4>
                <p class="big pr-0 pr-md-5 pb-3 pb-sm-5 pb-lg-0">
                  <%= banner.description %>
                </p>
                <a
                  href="/detail-recipe/<%= banner._id %>"
                  class="circle circle-lg tstbite-arrow"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="13.333"
                    height="13.333"
                    viewBox="0 0 13.333 13.333"
                  >
                    <path
                      d="M6.077,13.089a.833.833,0,0,1,0-1.178L10.488,7.5H.833a.833.833,0,0,1,0-1.667h9.655L6.077,1.423A.834.834,0,0,1,7.256.244l5.829,5.83a.833.833,0,0,1,0,1.186L7.256,13.089a.834.834,0,0,1-1.179,0Z"
                      fill="#ff642f"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Tstbite Components, My 4, My Md 5 -->
        <section class="tstbite-components my-4 my-md-5">
          <h5 class="py-3 mb-0">Latest Recipes</h5>
          <div class="row">
            <% latest.forEach(element => { %>
            <div class="col-md-4">
              <figure class="my-3 tstbite-card">
                <a
                  href="/detail-recipe/<%= element._id %>"
                  class="tstbite-animation rounded-6"
                >
                  <img
                    src="/images/recipes/<%= element.image %>"
                    class="w-100"
                    alt="Menu"
                  />
                </a>
                <figcaption class="mt-2">
                  <span
                    class="f-size-20 text-black d-block mt-1 font-weight-semibold"
                  >
                    <%= element.title %>
                    <div>
                      <small class="text-primary">
                        Recipe By <%= element.user.fullname %>
                      </small>
                    </div>
                  </span>
                </figcaption>
              </figure>
            </div>
            <% }) %>
          </div>
        </section>
      </div>
      <!-- Tstbite Components Bg Primary Light, My 5, Py 5 -->
      <section class="tstbite-components bg-primary-light my-5 py-5">
        <div class="container">
          <div class="row">
            <div
              class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2 text-center py-4 py-md-5"
            >
              <h2 class="mb-3 h1">Deliciousness to your inbox</h2>
              <p class="f-size-24 font-weight-regular">
                Enjoy weekly hand picked recipes <br />and recommendations
              </p>
              <div class="input-group custom-input-group mt-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email Address"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">JOIN</button>
                </div>
              </div>
              <small class="mt-3 d-block">
                By joining our newsletter you agree to our
                <a href="#0" class="text-black d-block d-sm-inline-block">
                  <u class="tstbite-underline">Terms and Conditions</u>
                </a>
              </small>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <!-- Tstbite Components, My 4, My Md 5 -->
        <section class="tstbite-components my-4 my-md-5">
          <h5 class="py-3 mb-0">All Recipes</h5>
          <div class="row">
            <% recipes.forEach(element => { %>
            <div class="col-lg-3 col-md-4 col-6">
              <figure class="my-3 my-md-4 tstbite-card">
                <a
                  href="/detail-recipe/<%= element._id %>"
                  class="tstbite-animation stretched-link rounded-6"
                >
                  <img
                    src="/images/recipes/<%= element.image %>"
                    class="w-100"
                    alt="Menu"
                  />
                </a>
                <figcaption class="mt-2">
                  <span
                    class="text-black d-block mt-1 font-weight-semibold big"
                  >
                    <%= element.title %>
                    <div>
                      <small class="text-primary">
                        Recipe By <%= element.user.fullname %>
                      </small>
                    </div>
                  </span>
                </figcaption>
              </figure>
            </div>
            <% }) %>
          </div>
          <div class="text-center py-5">
            <a
              href="/recipe"
              class="btn btn-outline-dark px-4 px-md-5 py-1 py-md-2 big font-weight-medium"
            >
              All Recipes
            </a>
          </div>
        </section>
      </div>
      <%- include('../components/footer.ejs') %>
    </section>
  </body>
</html>
